* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 31, 52);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.log-in {
  display: none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 8px;
  color: #fff;
}

.sign-up {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  padding: 12px 20px;
  color: #fff;
  gap: 10px;
}

.sign-up p {
  color: rgb(200, 200, 200);
}

.sign-up p span {
  color: rgb(238, 58, 87);
}

.sign-up .inputs {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  margin-top: 13px;
}

.sign-up .inputs input {
  height: 35px;
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  border-radius: 7px;
  padding: 7px;
}

.sign-up .inputs .checkboxes {
  margin-right: 2px;
}

.sign-up .inputs .checkbox {
  display: flex;
  gap: 15px;
}

.sign-up .inputs .div-checkboxes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sign-up p {
  text-align: center;
  margin-bottom: 20px;
}

.sign-up .inputs button {
  background-color: rgb(238, 58, 87);
  border: none;
  color: #fff;
  padding: 8px;
  border-radius: 20px;
  margin: 7px 0 15px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sign-up .inputs button:hover {
  color: rgb(238, 58, 87);
  background-color: #fff;
  cursor: pointer;
}

.sign-up .fa-arrow-left {
  color: #fff;
  font-size: 19px;
  margin-bottom: 10px;
  cursor: pointer;
}
